extends ./layout.jade

block content
  h1= title
  .ui.segment
    if user
      h2.ui.header You are signed in
      p Your username is 
        span.ui.purple.horizontal.label= user.username
      p Your email is 
        span.ui.purple.horizontal.label= user.email
      h2.ui.header Possible actions
      a.ui.button(href="/signout")
        i.sign.out.icon
        |Sign out
      a.ui.button(href=sitegateDomain + "/settings")
        i.settings.icon
        |Settings
    else
      h2.ui.header You are not signed in
      a.ui.left.icon.blue.button(href="/auth/sitegate")
        i.sign.in.icon
        |Sign In/Up