doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    title= title
    link(rel='stylesheet', href='//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.css')
    link(rel="stylesheet", href="/dist/css/style.css")
  body
    .main.container
      block content
    script(src='//oss.maxcdn.com/jquery/2.1.4/jquery.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.js')
    script(src='/dist/js/index.js')
